mixin checkbox(name, array, id)
	.catalog-filter__header= name
	.catalog-filter__list
	each item, i in array
		.catalog-filter__item
			input(type="checkbox" id="#{id}_#{i}")
			label(for="#{id}_#{i}")= item
.catalog-filter.js-filter
	.catalog-filter__search.js-filter-open
		i.icon.icon_filter-search
	.catalog-filter-container
		form
			.catalog-filter__col
				+checkbox("Тип", ["полиэстер", "металлик", "хлопковые", "шерстяные", "шелковые"], 0)
			.catalog-filter__col
				+checkbox("Бренд", ["Fufus", "Gunold", "Royal", "Madeira", "Aurora"], 1)
			.catalog-filter__col
				+checkbox("Толщина", ["тонкие", "стандартные"], 2)
			.catalog-filter__col
				.catalog-filter__header Цена
				.catalog-filter__list
					.catalog-filter__item.catalog-filter__item_prop-price
						label(for="checkbox_10") от
						input(type="text" id="checkbox_10")
					.catalog-filter__item.catalog-filter__item_prop-price
						label(for="checkbox_11") до
						input(type="text" id="checkbox_11")
			.catalog-filter__col
				+checkbox("Бренд", ["меланжевые", "светонакопительные", "солнечные", "огнеустойчивые"], 3)
			.catalog-filter__btns
				.catalog-filter__slideup.js-filter-close
					i.icon.icon_filter-slideup
				input(type="submit" value='Подобрать').catalog-filter__submit