.catalog-item-container
	.catalog-item.catalog-item_type-1
		.catalog-pic
			img(src="img/assets/catalog/flizelin.jpg", alt="")
			.catalog-pic__sale
				i.icon.icon_sale
		.catalog-desc
			a(href="").catalog-desc__header Gunold Клеевой флизелин 162 0В
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Плотность
				.catalog-desc__value 20 г/м³
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Длина рулона
				.catalog-desc__value 200 м
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Ширина рулона
				.catalog-desc__value 35 см, 100 см
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Цвет
				.catalog-desc__value
					.ui-color-container
						span.ui-color-square(data-color="#000")
						span.ui-color-square(data-color="#fff")
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Состав
				.catalog-desc__value полиэстер 100%
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Применение
				.catalog-desc__value 
		.catalog-price
			.catalog-price__header Цена:
			.catalog-price__list
				.catalog-price__item
					i.icon.icon_catalog-meter
					span 200 руб. за метр
				.catalog-price__item
					i.icon.icon_catalog-roll
					span 200 руб. за рулон

		a(href="").catalog-item__btn Выбрать