.catalog-item-container
	.catalog-item.catalog-item_type-1
		.catalog-pic
			img(src="img/assets/catalog/glue.jpg", alt="")
			.catalog-pic__sale
				i.icon.icon_sale
		.catalog-desc
			a(href="").catalog-desc__header Клей в баллоне
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Упаковка
				.catalog-desc__value 500мл
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Назначение
				.catalog-desc__value временная фиксация
		.catalog-price
			.catalog-price__header Цена:
			.catalog-price__list
				.catalog-price__item
					i.icon.icon_catalog-one
					span 200 руб. за штуку
				.catalog-price__item
					i.icon.icon_catalog-many
					span 200 руб. за упаковку

		a(href="").catalog-item__btn Купить