.catalog-item-container
	.catalog-item.catalog-item_goods-machine
		.catalog-pic
			img(src="img/assets/catalog/machine.jpg", alt="")
		.catalog-desc
			a(href="").catalog-desc__header Вышивальная машина SWF/E-T901C/1201C/1501C
			.catalog-desc__text
				| Компактная вышивальная одноголовочная машина, высокоскоростная. Машина вобрала в себе не только компактные размеры, но и новые технологии и широкие функциональные возможности. Эта вышивальная машинка способна делать вышивку большого размера и превосходного качества. Она позволит воплотить в вышивку любую вашу фантазию!
			.catalog-desc__item.catalog-desc__item_type-regular
				.catalog-desc__name Тип
				.catalog-desc__value 
					a(href="") Многоголовочная 
			.catalog-desc__item.catalog-desc__item_type-regular
				.catalog-desc__name Количество игл
				.catalog-desc__value
			.catalog-desc__item.catalog-desc__item_type-regular
				.catalog-desc__name Поле вышивки
				.catalog-desc__value 4 млн.
			.catalog-desc__item.catalog-desc__item_type-regular
				.catalog-desc__name Скорость
				.catalog-desc__value 1200 стежков/мин
		a(href="").catalog-item__btn Подробнее