.catalog-item-container
	.catalog-item.catalog-item_type-1
		.catalog-pic
			img(src="img/assets/catalog/pena.jpg", alt="")
			.catalog-pic__sale
				i.icon.icon_sale
		.catalog-desc
			a(href="").catalog-desc__header Пена для объема
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Плотность
				.catalog-desc__value мягкая, жесткая
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Размер листа
				.catalog-desc__value 30 х 40 см, 52 х 46 см
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Толщина
				.catalog-desc__value 3мм, 6мм
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Цвет
				.catalog-desc__value
					.ui-color-container
						span.ui-color-square(data-color="#ff3333")
						span.ui-color-square(data-color="#66ccff")
						span.ui-color-square(data-color="#003366")
						span.ui-color-square(data-color="#000000")
						span.ui-color-square(data-color="#ffffff") 
		.catalog-price
			.catalog-price__header Цена:
			.catalog-price__list
				.catalog-price__item
					i.icon.icon_catalog-meter
					span 200 руб. за метр
				.catalog-price__item
					i.icon.icon_catalog-roll
					span 3800 руб. за рулон

		a(href="").catalog-item__btn Заказать