.catalog-item-container
	.catalog-item.catalog-item_type-1
		.catalog-pic
			img(src="img/assets/catalog/plenka.jpg", alt="")
			.catalog-pic__sale
				i.icon.icon_sale
		.catalog-desc
			a(href="").catalog-desc__header Водорастворимая пленка
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Состав
				.catalog-desc__value полиэстер 100%
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Плотность
				.catalog-desc__value 25мк
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Длина рулона
				.catalog-desc__value 100м
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Ширина рулона
				.catalog-desc__value 100см, 30см
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Применение
				.catalog-desc__value 
		.catalog-price
			.catalog-price__header Цена:
			.catalog-price__list
				.catalog-price__item
					i.icon.icon_catalog-meter
					span 200 руб. за метр
				.catalog-price__item
					i.icon.icon_catalog-roll
					span 3800 руб. за рулон

		a(href="").catalog-item__btn Выбрать