.catalog-item-container
	.catalog-item.catalog-item_type-2
		.catalog-pic
			img(src="img/assets/catalog/ropes.jpg", alt="")
			.catalog-pic__sale
				i.icon.icon_sale
		.catalog-desc
			a(href="").catalog-desc__header Тайваньские нитки FUFU'S - ПОЛИЭСТЕР
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Метраж
				.catalog-desc__value 5000
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Состав
				.catalog-desc__value 100% полиэстер
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Толщина
				.catalog-desc__value 40
			.catalog-desc__item.catalog-desc__item_type-dotted
				.catalog-desc__name Количество цветов
				.catalog-desc__value 300
		.catalog-price
			.catalog-price__header Цена:
			.catalog-price__list
				.catalog-price__item
					i.icon.icon_catalog-hank
					span 200 руб. за бобину
				.catalog-price__item
					i.icon.icon_catalog-box
					span 3800 руб. за коробку

			a(href="").catalog-item__btn Выбрать