$c_border-color: #c7c8c9
$c_active-bg: #f5f5f5


.tabs
	border: 1px solid $c_border-color
	&-header
		display: table
		width: 100%
		table-layout: fixed
		&__item
			display: table-cell
			text-align: center
			vertical-align: middle
			font-weight: 600
			cursor: pointer
			padding: 4px 10px
			border-bottom: 1px solid $c_border-color
			height: 41px
			& + &
				border-left: 1px solid $c_border-color
			&.active
				color: $c_pink
				background-color: $c_active-bg
				font-weight: 700
				border-bottom-color: transparent
	&-content
		background-color: $c_active-bg
		&__item
			padding: 24px 20px
			display: none
			line-height: 1
			font-weight: 500
			small
				// font-weight: 600
				line-height: 1.5
				font-size: 12px
			p
				margin: 0
			ul
				padding-left: 20px
			b
				font-weight: 600
			dl
				+clearfix()
				dt, dd
					float: left
					padding: 4px 0
				dd
					font-weight: 600
					margin-left: 5px
				dd + dt
					clear: both
			&.active
				display: block
