@font-face
	font-family: 'Helvetica Neue'
	src: url('../fonts/HelveticaNeueCyr-Thin.otf')
	font-weight: 100

@font-face
	font-family: 'Helvetica Neue'
	src: url('../fonts/HelveticaNeueCyr-Light.otf')
	font-weight: 300

// @font-face
// 	font-family: 'Helvetica Neue'
// 	src: url('../fonts/HelveticaNeueCyr-Black.otf')
// 	font-weight: 900
@font-face
	font-family: 'Helvetica Neue'
	src: url('../fonts/HelveticaNeueCyr-Bold.otf')
	font-weight: 700
@font-face
	font-family: 'Helvetica Neue'
	src: url('../fonts/HelveticaNeueCyr-Medium.otf')
	font-weight: 600
@font-face
	font-family: 'Helvetica Neue'
	src: url('../fonts/HelveticaNeueCyr-Roman.otf')
	font-weight: normal
// @font-face
// 	font-family: 'u2400'
// 	src: url("http://unicode-table.com/fonts/u/u2400.eot")
// 	src: url("http://unicode-table.com/fonts/u/u2400.eot?#iefix") format("embedded-opentype"),
// 		 url("http://unicode-table.com/fonts/u/u2400.woff") format("woff"),
// 		 url("http://unicode-table.com/fonts/u/u2400.ttf") format("truetype"),
// 		 url("http://unicode-table.com/fonts/u/u2400.svg#universaliaregular") format("svg")
// 	font-weight:normal
// 	font-style:normal
// @font-face
// 	font-family: 'Helvetica Neue'
// 	src: url('../fonts/HelveticaNeueCyr-Thin.otf')
// 	font-weight: 100