header
	margin: 0 -#{$container_padding}
	+clearfix()
.header
	&-logo,
	&-phone,
	&-backcall,
	&-cart
		float: left
	&-logo
		+clearfix()
		margin: 4px 0 0 8px
		&__link, &__text
			float: left
		&__text
			font-size: 14px
			padding: 7px 0 0 19px
			line-height: 16px
			letter-spacing: -0.15px

	&-phone
		font-size: 18px
		font-weight: 100
		text-align: right
		margin: 11px 23px 0 0
		&__item + &__item
			margin-top: 4px
		b
			font-weight: 700
		a
			color: inherit
			text-decoration: none
	&-backcall
		font-size: 14px
		margin: 16px 18px 0 0
		&__link, &__icon
			display: inline-block
			vertical-align: middle
		&__link
			text-decoration: underline
			margin: -7px 7px 0 0
	&-cart
		margin-top: 3px
		vertical-align: bottom
		border-top-right-radius: $border-radius
		border-top-left-radius: $border-radius
		// background: -moz-linear-gradient(top, transparentize($c_light-blue, 0.4) 0%, $c_light-blue 100%) /* FF3.6-15 */
		// background: -webkit-linear-gradient(top, transparentize($c_light-blue, 0.4) 0%,$c_light-blue 100%) /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(to bottom, transparentize($c_light-blue, 0.4) 0%,$c_light-blue 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		background-color: $c_light-blue
		width: 303px
		text-align: center
		padding: 13px 0 12px
		&__icon, &__text
			display: inline-block
			text-align: left
			vertical-align: top
			a
				color: inherit
		&__info
			font-size: 18px
		&__icon
			margin-left: -7px
			margin-right: 23px
		&__link
			margin-top: 3px
			display: inline-block
			font-weight: 700
