.menu
	background-color: $c_dark-blue
	border-top: 9px solid $c_light-blue
	text-align: center
	color: #fff
	padding-top: 18px
	&__item
		color: inherit
		text-decoration: none
		display: inline-block
		padding: 0 10px
		vertical-align: top
		font-weight: 300
		font-size: 20px
		&:before
			content: ''
			display: inline-block
			background-color: $c_light-blue
			vertical-align: top
	&_role-header
		margin: 0 -#{$container_padding}
		// font-size: 22px
		padding-bottom: 18px

		.menu__item
			&:before
				margin-top: 4px
				width: 10px
				height: 10px
				margin-right: 13px
				transform: skewX(-10deg)
	&_role-footer
		padding-bottom: 110px
		.menu__item
			// font-size: 20px
			&:before
				width: 5px
				height: 5px
				margin-right: 15px
				margin-top: 7px