$c_dark-blue: #133050
$c_light-blue: #00aef0
$c_pink: #aa3077
$c_gray: #e2e2e2
$c_background-gray: #e4e4e4
$c_orange: #ff6600
$c_text: #070707

$container_padding: 16px
$footer_height: 10px
$border_radius: 8px

=clearfix()
	&:after
		display: block
		content: ''
		clear: both
	
=btn($color, $height, $font-size)
	display: block
	background-color: $color
	height: $height
	line-height: $height
	font-size: $font-size
	text-transform: uppercase
	color: #fff
	width: 100%
	cursor: pointer
	font-weight: 600
	text-decoration: none