.sidebar
	width: 263px
	float: left
	&-nav
		background-color: $c_background-gray
		margin-bottom: 15px
		line-height: 16px
		a, span
			display: block
			color: inherit
			text-decoration: none
		&__header
			background-color: $c_dark-blue
			color: #fff
			padding: 9px 10px
			// line-height: 16px
			text-align: center
			font-weight: 600
			text-transform: uppercase
		& > &__list
			padding: 9px 0
		&__item
			a, span
				padding-right: 10px
				padding-left: 20px
			.sidebar-nav__list
				display: none
			span
				font-weight: 600
				margin-left: -7px
				text-transform: lowercase
			&_level-first
				font-weight: 600
				text-transform: uppercase
				& > a, span
					padding-left: 28px
					padding-top: 9px
					padding-bottom: 9px
				&.current > a
					background-color: $c_light-blue
					color: #fff

			&_level-second
				font-weight: normal
				text-transform: uppercase
				font-size: 12px
				& > a, span
					padding-left: 40px
					padding-top: 9px
					padding-bottom: 9px
				&.current > a
					// background-color: $c_light-blue
					color: $c_light-blue
			&_level-third
				font-weight: 100
				font-size: 13px
				text-transform: none
				& > a, span
					padding-left: 60px
					padding-top: 7px
					padding-bottom: 7px
				&.current > a
					color: $c_light-blue
					border: 1px solid currentColor

	&-subscribe
		padding-top: 5px
		&__header
			line-height: 18px
			font-weight: 600
			color: $c_pink
			text-transform: uppercase
			text-align: center
			margin-bottom: 8px
		input:not([type="submit"])
			padding: 13px 12px 13px 16px
			color: #bcbec0
			border: 1px solid #d5d5d5
			margin-bottom: 17px
		input[type="submit"]
			+btn($c_pink, 44px, 14px)


