*
	box-sizing: border-box
html
	height: 100%
	overflow: visible
footer
	position: absolute
	// bottom: 0
	width: 100%
	z-index: -1

body
	padding-bottom: 159px
	position: relative
	color: $c_text
	font-family: Helvetica Neue, Helvetica, sans-serif
	font-size: 16px
	margin: 0
	min-width: 1280px
	padding-top: 7px
	height: 100%
h1, h2, h3, h4, h5, h6
	margin: 0
form
	input, select, textarea
		border: 0
		box-shadow: none
		background-color: transparent
		border-radius: 0
	input:not([type="submit"]), select, textarea
		width: 100%
	textarea
		resize: none
img
	max-width: 100%
a 
	color: $c_pink
.left
	float: left
.right
	float: right
.icon
	display: inline-block
	vertical-align: top
	font-size: 0
.clearfix
	+clearfix()

.container
	min-height: 100%
	width: 1264px
	box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.3)
	margin: 0 auto
	padding: 0 $container_padding 65px

// icons

+sprites($spritesheet-sprites)

// slider

.slick-arrow
	position: absolute
	top: 50%
	transform: translate(0, -50%)
	z-index: 1
	cursor: pointer
.slick-next
	right: 0
.slick-prev
	left: 0
	
// widgets
.widget-catalog
	display: none
@media (min-width: 1200px)
	.widget-catalog
		background-color: $c_light-blue
		text-decoration: none
		text-transform: uppercase
		color: #fff
		font-size: 18px
		line-height: 48px
		height: 48px
		padding: 0 68px 0 20px
		position: fixed
		top: 57%
		right: 0
		display: block
		z-index: 100
		// position: relative
		&__arrow
			position: absolute
			right: 0
			display: inline-block
			width: 48px
			height: 48px
			background-color: $c_dark-blue
			&:after
				content: ''
				border-top: 7px solid transparent
				border-bottom: 7px solid transparent
				border-right: 8px solid transparent
				border-left: 9px solid #fff
				display: block
				position: absolute
				margin-left: 7.5px
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)


.ui-color-container
	+clearfix()
.ui-color-square
	width: 18px
	height: 18px
	float: left
	&[data-color="#ffffff"], &[data-color="#fff"]
		border: 1px solid #000
	& + &
		margin-left: 10px

// pagination
.pagination
	display: inline-block
	font-size: 11px
	&-container
		text-align: right
		padding-top: 60px
	.pagination__item
		color: inherit
		padding: 0 3px
		&.current
			text-decoration: none


@import ../ui/tabs

#overlay
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 8
	// background-color: rgba(0,0,0,0.4)
.overlayed .slick-arrow
	z-index: 1

.slick-slide:focus
	outline: none