.goods-carousel
	&__list
		padding: 0 75px
	&__item
		color: $c_text
	&__pic
		position: relative
		font-size: 0
		img
			margin: 0 auto
	&__sale
		position: absolute
		bottom: 19px
		left: 25px
	&__name
		padding: 0 5px 0 25px
		display: block
		line-height: 18px