.goods
	overflow: hidden
	// margin-bottom: 23px
	&__header
		position: relative
		margin: 0 -4px
		+clearfix()
		&:before
			content: ''
			display: block
			position: absolute
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			height: 24px
			background-color: $c_light-blue
		.goods__bookmark-inner
			span:before, a:before
				border-left-color: $c_light-blue
		// &_color-pink
		// 	&:before
		// 		background-color: $c_pink
		// 	.goods__bookmark-inner
		// 		span:before, a:before
		// 			border-left-color: $c_pink
		// &_color-blue
		// 	&:before
		// 		background-color: $c_light-blue
		// 	.goods__bookmark-inner
		// 		span:before, a:before
		// 			border-left-color: $c_light-blue
	&__bookmark
		float: left
		width: 25%
		padding: 0 4px
		text-align: center
		&-inner
			display: block
			border-top-right-radius: $border-radius
			border-top-left-radius: $border-radius
			// background: -moz-linear-gradient(top, transparentize($c_gray, 0.4) 0%, $c_gray 35%)
			// background: -webkit-linear-gradient(top, transparentize($c_gray, 0.4) 0%, $c_gray 35%) /* Chrome10-25,Safari5.1-6 */
			// background: linear-gradient(to bottom, transparentize($c_gray, 0.4) 0%, $c_gray 35%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			background-color: $c_gray
			height: 49px
			font-size: 18px
			white-space: nowrap
			position: relative
			span, a
				text-decoration: none
				color: inherit
				position: absolute
				// width: 200px
				display: block
				margin-top: -5px
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				&:before
					content: ''
					display: block
					position: absolute
					top: 50%
					left: -15px
					transform: translate(0, -50%)
					border: 6px solid transparent  
		
	&__list
		+clearfix()
	&__item
		width: 25%
		float: left
		display: block
	&_role-nav
		.goods__body
			background-color: $c_gray
		.goods__list
			padding-bottom: 12px
			margin: 0 -4px
		.goods__pic
			position: relative
			font-size: 0
			text-align: center
			max-width: 280px
			margin: 0 auto
			// &:after
			// 	content: ''
			// 	border-radius: 50%
			// 	width: 20px
			// 	height: 20px
			// 	background-color: $c_gray
			// 	display: block
			// 	position: absolute
			// 	left: 50%
			// 	margin-left: -10px
			// 	bottom: -10px
		.goods__rings
			position: absolute
			left: 0
			right: 0
			top: -15px
			text-align: center
	&_role-tabs
		.goods__body
			position: relative
			top: -5px
			border: 10px solid $c_dark-blue
		.goods__list
			position: relative
			padding: 20px 0 23px
			display: none
			margin: 0 -14px
			&.active
				display: block
		.goods__item
			padding: 0 45px
			color: #3366cc
			color: $c_text
		.goods__rings
			position: absolute
			top: -15px
			left: 38px
		.goods__name
			
			font-weight: 700
			display: block
			padding: 0 5px 0 37px
			font-size: 14px
			line-height: 16px

		.goods__bookmark
			&.active, &:hover
				.goods__bookmark-inner
					border-top-right-radius: 15px
					border-top-left-radius: 15px
					background-color: $c_dark-blue
					// background: -moz-linear-gradient(top, transparentize($c_dark-blue, 0.4) 0%, $c_dark-blue 35%)
					// background: -webkit-linear-gradient(top, transparentize($c_dark-blue, 0.4) 0%, $c_dark-blue 35%) /* Chrome10-25,Safari5.1-6 */
					// background: linear-gradient(to bottom, transparentize($c_dark-blue, 0.4) 0%, $c_dark-blue 35%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					color: #fff
					span:before
						display: none
		.goods__bookmark-inner
			cursor: pointer






	