.news
	margin: 0 28px
	border-top: 2px dotted #666
	&-all
		color: inherit
		font-size: 16px
		padding-left: 25px
		text-transform: none
	&-subscribe
		float: right
		color: $c_pink
		font-size: 16px
		text-transform: none
		margin-right: 28px
		font-weight: 700
	&__list
		+clearfix()
		margin: 25px 0
	&__item
		padding-left: 15px
		margin-bottom: 9px
		width: 50%
		float: left
		// font-weight: bold
		&:before
			content: ''
			width: 5px
			height: 5px
			display: inline-block
			background-color: $c_pink
			vertical-align: middle

		a
			display: inline-block
			vertical-align: middle
			padding-left: 13px
			color: inherit
