.promo
	margin: 0 -#{$container_padding}
	display: table
	padding-bottom: 18px
	position: relative
	&:after
		border-bottom: 9px solid $c_light-blue
		content: ''
		display: block
		border-top: 9px solid $c_dark-blue
		position: absolute
		bottom: 0
		left: 0
		width: 100%
	&-slider, &-form
		display: table-cell
		vertical-align: top
	&-slider
		&__list
			width: 957px
			
		&__item
			position: relative
		&__pic
			font-size: 0
			img
				max-width: initial
		&__info
			position: absolute
			bottom: 0
			left: 0
			background-color: rgba(0,0,0,0.55)
			color: #fff
			text-decoration: none
			padding: 9px 53px
		&__text
			&_style-bold
				font-weight: bold
				font-size: 20px
				letter-spacing: 0.8px
			&_style-thin
				font-size: 16px
				font-weight: 100
				letter-spacing: 0.5px
	&-form
		background-color: $c_gray
		padding: 22px 29px 10px
		&__header, &__text
			font-weight: 100
		&__header
			&_size-big
				font-size: 30px
				// margin-bottom: 3px
		&__text
			font-size: 14px
			margin-bottom: 18px
		form
			text-align: center
			::-webkit-input-placeholder
				color: $c_text 
			::-moz-placeholder         
				color: $c_text 
			:-moz-placeholder          
				color: $c_text 
			:-ms-input-placeholder     
				color: $c_text 
			input:not([type="submit"]), textarea, select
				line-height: 18px
				padding: 6px 10px
				margin-bottom: 8px
				background-color: #fff
				text-align: left
				font-size: 16px
			textarea
				height: 52px
			input[type="submit"]
				background-color: $c_pink
				color: #fff
				font-size: 18px
				cursor: pointer
				font-weight: 700
				line-height: 37px
				height: 37px
				padding: 0 25px
				margin: 0 auto
				min-width: 155px
				margin-top: 4px
				transition: color 0.5s, background-color 0.5s
				&:hover
					color: #aa3077
					background-color: #FFF
