.service-nav
	
	padding: 42px 0 3px
	&__list
		+clearfix()
		margin: 0 -5px
	&__item
		position: relative
		float: left
		width: 50%
		padding: 0 5px
		display: block
		font-weight: 100
		color: #fff
		text-decoration: none
		&_target-service .service-nav__info
			background-image: url("../img/icons/index-service.png")
		&_target-repare .service-nav__info
			background-image: url("../img/icons/index-repare.png")
	&__info
		background-color: $c_dark-blue
		padding: 22px 135px 38px
		background-repeat: no-repeat
		background-position: 20px 50%
		// position: absolute
		// top: 50%
		// left: 185px
		// transform: translate(0, -50%)
	&__name
		font-size: 30px
	&__desc
		font-size: 18px
