.product-price
	.product-price__item
		.product-price__name Цена в рулоне
		.product-price__desc 
			span 200 
			| руб./м
	.product-price__item
		.product-price__name Цена в нарезке
		.product-price__desc 
			span 180 
			| руб./м