.tabs.js-tabs
	.tabs-header
		.tabs-header__item.js-tabs-header.active
			| Описание
		.tabs-header__item.js-tabs-header
			| Преимущества
		.tabs-header__item.js-tabs-header
			| Применение
		.tabs-header__item.js-tabs-header
			| Сертификат качества
	.tabs-content
		.tabs-content__item.js-tabs-content.active
			p 
				small Нитка цветная некрученая текстурированная (вискоза) - очень мягкая нить. Она имеет более яркие оттенки, хорошо стирается. Цветная некрученая текстурированная нить хорошо выдерживает сухую стирку.  Предназначена для работы на оверлоке. 
		.tabs-content__item.js-tabs-content
			p 
				small Нитка цветная некрученая текстурированная (вискоза) - очень мягкая нить. Она имеет более яркие оттенки, хорошо стирается. Цветная некрученая текстурированная нить хорошо выдерживает сухую стирку.  Предназначена для работы на оверлоке. 
		.tabs-content__item.js-tabs-content
			p 
				small Нитка цветная некрученая текстурированная (вискоза) - очень мягкая нить. Она имеет более яркие оттенки, хорошо стирается. Цветная некрученая текстурированная нить хорошо выдерживает сухую стирку.  Предназначена для работы на оверлоке. 
		.tabs-content__item.js-tabs-content
			p 
				small Нитка цветная некрученая текстурированная (вискоза) - очень мягкая нить. Она имеет более яркие оттенки, хорошо стирается. Цветная некрученая текстурированная нить хорошо выдерживает сухую стирку.  Предназначена для работы на оверлоке. 