.tabs.js-tabs
	.tabs-header
		.tabs-header__item.js-tabs-header.active
			| Характеристика
		.tabs-header__item.js-tabs-header
			| Комплектация
		.tabs-header__item.js-tabs-header
			| Дополнительные устройства
		.tabs-header__item.js-tabs-header
			| Видео
		.tabs-header__item.js-tabs-header
			| Документация
	.tabs-content
		.tabs-content__item.js-tabs-content.active
			ul
				li Скорость вышивки 1200 стежков/мин
				li Поле  вышивки  460 x 300 мм
				li Автоматическая смена цвета
				li Удобный дисплей
				li Лазерный контроль позиции нахождения вышивки
				li USB  
				li 4 миллиона стежков в памяти машины
				li Длина стежка 0,1-12,7 мм
			p
				b Функции пульта  вышивальной машины:
			ul
				li Автоматический возврат после  экстренного отключения
				li Объём памяти машины (до 100 дизайнов; до 4 000 000 стежков)
				li Редактирование (поворот рисунока а угол 0˚  до 359˚ по 1˚, зеркальное отображение по оси X/Y,  увеличение / уменьшение размера дизайна в пределах от 50% до 200% (с точностью до 1%),   изменение размеров дизайна: пропорциональное, в отдельности по осям Xи Y)
				li Изменение цвета (возможность 300 раз изменить порядок  вышивки  иглами)
				li Повтор дизайна  до 99 раз

		.tabs-content__item.js-tabs-content
			ul
				li Скорость вышивки 1200 стежков/мин
				li Поле  вышивки  460 x 300 мм
				li Автоматическая смена цвета
				li Удобный дисплей
				li Лазерный контроль позиции нахождения вышивки
				li USB  
				li 4 миллиона стежков в памяти машины
				li Длина стежка 0,1-12,7 мм
			p
				b Функции пульта  вышивальной машины:
			ul
				li Автоматический возврат после  экстренного отключения
				li Объём памяти машины (до 100 дизайнов; до 4 000 000 стежков)
				li Редактирование (поворот рисунока а угол 0˚  до 359˚ по 1˚, зеркальное отображение по оси X/Y,  увеличение / уменьшение размера дизайна в пределах от 50% до 200% (с точностью до 1%),   изменение размеров дизайна: пропорциональное, в отдельности по осям Xи Y)
				li Изменение цвета (возможность 300 раз изменить порядок  вышивки  иглами)
				li Повтор дизайна  до 99 раз
		.tabs-content__item.js-tabs-content
			ul
				li Скорость вышивки 1200 стежков/мин
				li Поле  вышивки  460 x 300 мм
				li Автоматическая смена цвета
				li Удобный дисплей
				li Лазерный контроль позиции нахождения вышивки
				li USB  
				li 4 миллиона стежков в памяти машины
				li Длина стежка 0,1-12,7 мм
			p
				b Функции пульта  вышивальной машины:
			ul
				li Автоматический возврат после  экстренного отключения
				li Объём памяти машины (до 100 дизайнов; до 4 000 000 стежков)
				li Редактирование (поворот рисунока а угол 0˚  до 359˚ по 1˚, зеркальное отображение по оси X/Y,  увеличение / уменьшение размера дизайна в пределах от 50% до 200% (с точностью до 1%),   изменение размеров дизайна: пропорциональное, в отдельности по осям Xи Y)
				li Изменение цвета (возможность 300 раз изменить порядок  вышивки  иглами)
				li Повтор дизайна  до 99 раз
		.tabs-content__item.js-tabs-content
			ul
				li Скорость вышивки 1200 стежков/мин
				li Поле  вышивки  460 x 300 мм
				li Автоматическая смена цвета
				li Удобный дисплей
				li Лазерный контроль позиции нахождения вышивки
				li USB  
				li 4 миллиона стежков в памяти машины
				li Длина стежка 0,1-12,7 мм
			p
				b Функции пульта  вышивальной машины:
			ul
				li Автоматический возврат после  экстренного отключения
				li Объём памяти машины (до 100 дизайнов; до 4 000 000 стежков)
				li Редактирование (поворот рисунока а угол 0˚  до 359˚ по 1˚, зеркальное отображение по оси X/Y,  увеличение / уменьшение размера дизайна в пределах от 50% до 200% (с точностью до 1%),   изменение размеров дизайна: пропорциональное, в отдельности по осям Xи Y)
				li Изменение цвета (возможность 300 раз изменить порядок  вышивки  иглами)
				li Повтор дизайна  до 99 раз
		.tabs-content__item.js-tabs-content
			ul
				li Скорость вышивки 1200 стежков/мин
				li Поле  вышивки  460 x 300 мм
				li Автоматическая смена цвета
				li Удобный дисплей
				li Лазерный контроль позиции нахождения вышивки
				li USB  
				li 4 миллиона стежков в памяти машины
				li Длина стежка 0,1-12,7 мм
			p
				b Функции пульта  вышивальной машины:
			ul
				li Автоматический возврат после  экстренного отключения
				li Объём памяти машины (до 100 дизайнов; до 4 000 000 стежков)
				li Редактирование (поворот рисунока а угол 0˚  до 359˚ по 1˚, зеркальное отображение по оси X/Y,  увеличение / уменьшение размера дизайна в пределах от 50% до 200% (с точностью до 1%),   изменение размеров дизайна: пропорциональное, в отдельности по осям Xи Y)
				li Изменение цвета (возможность 300 раз изменить порядок  вышивки  иглами)
				li Повтор дизайна  до 99 раз