.tabs.js-tabs
	.tabs-header
		.tabs-header__item.js-tabs-header.active
			| Описание
		.tabs-header__item.js-tabs-header
			| Гарантия
		.tabs-header__item.js-tabs-header
			| Сервис
		.tabs-header__item.js-tabs-header
			| Обучение
	.tabs-content
		.tabs-content__item.js-tabs-content.active
			p 
				small Вышивальные  одноголовочные  машины  незаменимы  на  любом производстве - на  крупном  для  вышивания  образцов и  пробных  партий,  на  небольших производствах  -  можно установливать модели  вышивального оборудования, подбирая согласно размерам оборудования.  необходимого  поля  вышивки
			dl
				dt Тип:
				dd одноголовочная
				dt Количество игл:
				dd 12
				dt Поле вышивки:
				dd 500мм*330мм
				dt Скорость вышивки:
				dd 1200 стежков
			p: b Бонус/скидка при покупке машины на нитки, <br> материалы, запчасти
		.tabs-content__item.js-tabs-content
			p 
				small Вышивальные  одноголовочные  машины  незаменимы  на  любом производстве - на  крупном  для  вышивания  образцов и  пробных  партий,  на  небольших производствах  -  можно установливать модели  вышивального оборудования, подбирая согласно размерам оборудования.  необходимого  поля  вышивки
		.tabs-content__item.js-tabs-content
			p 
				small Вышивальные  одноголовочные  машины  незаменимы  на  любом производстве - на  крупном  для  вышивания  образцов и  пробных  партий,  на  небольших производствах  -  можно установливать модели  вышивального оборудования, подбирая согласно размерам оборудования.  необходимого  поля  вышивки 
		.tabs-content__item.js-tabs-content
			p 
				small Вышивальные  одноголовочные  машины  незаменимы  на  любом производстве - на  крупном  для  вышивания  образцов и  пробных  партий,  на  небольших производствах  -  можно установливать модели  вышивального оборудования, подбирая согласно размерам оборудования.  необходимого  поля  вышивки