.promo
	.promo-slider
		.promo-slider__list.js-promo-slider
			.promo-slider__item
				.promo-slider__pic
					img(src="img/assets/index/promo_1.jpg", alt="")
				a(href="").promo-slider__info
					.promo-slider__text_style-bold Вышивальные машины Aurora
					.promo-slider__text_style-thin (Южная Корея)
			.promo-slider__item
				.promo-slider__pic
					img(src="img/assets/index/promo_1.jpg", alt="")
				a(href="").promo-slider__info
					.promo-slider__text_style-bold Слайд
					.promo-slider__text_style-thin 2

	.promo-form
		.promo-form__header.promo-form__header_size-big Есть вопросы?
		.promo-form__text
			| Заполните форму и наш менеджер свяжется с вами
		form
			input(type="text" placeholder="Имя")
			input(type="text" placeholder="Телефон")
			input(type="text" placeholder="e-mail")
			textarea(placeholder="Ваш вопрос")
			input(type="submit" value="Отправить")