@import template/mixin

@import index/promo

.index-header
	color: $c_dark-blue
	font-size: 36px
	text-transform: uppercase
	text-align: center
	margin: 17px 0 15px
	font-weight: 600
	span
		position: relative
		&:before, &:after
			content: ''
			display: inline-block
			width: 17px
			height: 17px
			background-color: $c_light-blue
			position: absolute
			top: 50%
			transform: skewX(-17deg) translate(0, -50%)
			vertical-align: top
		&:before
			left: -48px
		&:after
			right: -48px
.index-section-header
	font-weight: normal
	text-transform: uppercase
	padding: 25px 0 15px 29px
	font-size: 20px
	line-height: 24px

@import index/goods
@import index/goods-carousel
@import index/service-nav
@import index/news
