@import template/mixin

.inner
	padding-top: 27px
	font-size: 14px
	overflow: hidden
	+clearfix()
	&-header
		font-weight: normal
		text-transform: uppercase
		padding: 31px 0 21px
		font-size: 20px
		line-height: 24px

.inner-content
	padding: 0 37px
.sidebar + .inner-content
	padding-left: 300px
