doctype html
html
	head
		title Каталог Шевронная ткань
		include template/common-head.jade
		link(rel="stylesheet", href="css/inner.css")
		link(rel="stylesheet", href="css/catalog.css")
	body(data-sidebar="shevron")
		.container
			include template/widget-catalog.jade
			include template/header.jade
			nav.menu.menu_role-header
				include template/menu.jade
			.inner
				include template/sidebar.jade
				.inner-content
					.breadcrumbs
						a(href="") Каталог
						| >
						a(href="") Материалы для вышивки
						| >
						a(href="") Для шевронов и аппликаций
						| >
						span Шевронная ткань
					h1.inner-header Шевронная ткань
					.catalog
						include catalog/shevron.jade
						include catalog/shevron.jade
						include catalog/shevron.jade
						include catalog/shevron.jade
						include catalog/shevron.jade
						include catalog/shevron.jade

					include template/pagination.jade



		include template/footer.jade
		
		include template/common-scripts.jade