doctype html
html
	head
		title Каталог Пена для объема
		include template/common-head.jade
		link(rel="stylesheet", href="css/inner.css")
		link(rel="stylesheet", href="css/catalog.css")
	body(data-sidebar="pena")
		.container
			include template/widget-catalog.jade
			include template/header.jade
			nav.menu.menu_role-header
				include template/menu.jade
			.inner
				include template/sidebar.jade
				.inner-content
					.breadcrumbs
						a(href="") Каталог
						| >
						a(href="") Материалы для вышивки
						| >
						span Пена для объема
					h1.inner-header Пена для объема
					
					.catalog
						include catalog/pena.jade
						include catalog/pena.jade
						include catalog/pena.jade
						include catalog/pena.jade
						include catalog/pena.jade
						include catalog/pena.jade

					include template/pagination.jade



		include template/footer.jade
		
		include template/common-scripts.jade