doctype html
html
	head
		title Каталог Вышивальные машины
		include template/common-head.jade
		link(rel="stylesheet", href="css/inner.css")
		link(rel="stylesheet", href="css/catalog.css")
	body(data-sidebar="machine")
		.container
			include template/widget-catalog.jade
			include template/header.jade
			nav.menu.menu_role-header
				include template/menu.jade
			.inner
				include template/sidebar.jade
				.inner-content
					.breadcrumbs
						a(href="") Каталог
						| >
						a(href="") Вышивальные машины
						| >
						span SWF
					h1.inner-header Вышивальные машины								


						
					.catalog
						include catalog/machine.jade
						include catalog/machine.jade
						include catalog/machine.jade
						include catalog/machine.jade
						include catalog/machine.jade
						include catalog/machine.jade
						
					include template/pagination.jade



		include template/footer.jade
		
		include template/common-scripts.jade