doctype html
html
	head
		title Каталог Термо и водорастворимые пленки
		include template/common-head.jade
		link(rel="stylesheet", href="css/inner.css")
		link(rel="stylesheet", href="css/catalog.css")
	body(data-sidebar="plenka")
		.container
			include template/widget-catalog.jade
			include template/header.jade
			nav.menu.menu_role-header
				include template/menu.jade
			.inner
				include template/sidebar.jade
				.inner-content
					.breadcrumbs
						a(href="") Каталог
						| >
						a(href="") Материалы для вышивки
						| >
						span  Термо и водорастворимые пленки
					h1.inner-header ТЕРМО И ВОДОРАСТВОРИМЫЕ ПЛЕНКИ
					.catalog
						include catalog/plenka.jade
						include catalog/plenka.jade
						include catalog/plenka.jade
						include catalog/plenka.jade
						include catalog/plenka.jade
						include catalog/plenka.jade

					include template/pagination.jade



		include template/footer.jade
		
		include template/common-scripts.jade