doctype html
html
	head
		title Каталог
		include template/common-head.jade
		link(rel="stylesheet", href="css/inner.css")
		link(rel="stylesheet", href="css/catalog.css")
	body
		.container
			include template/widget-catalog.jade
			include template/header.jade
			nav.menu.menu_role-header
				include template/menu.jade
			.inner
				include template/sidebar.jade
				.inner-content
					.breadcrumbs
						a(href="") Каталог
						| >
						a(href="") Материалы для вышивки
						| >
						a(href="") Флизелин
						| >
						span Клеевой
					h1.inner-header Флизелин
					include catalog/filter.jade
										


						
					.catalog
						include catalog/flizelin.jade
						include catalog/ropes.jade
						include catalog/shevron.jade
						include catalog/plenka.jade
						include catalog/pena.jade
						include catalog/glue.jade
						include catalog/machine.jade
					include template/pagination.jade



		include template/footer.jade
		
		include template/common-scripts.jade