doctype html
html
	head
		title Каталог Клей в баллоне
		include template/common-head.jade
		link(rel="stylesheet", href="css/inner.css")
		link(rel="stylesheet", href="css/catalog.css")
	body(data-sidebar="glue")
		.container
			include template/widget-catalog.jade
			include template/header.jade
			nav.menu.menu_role-header
				include template/menu.jade
			.inner
				include template/sidebar.jade
				.inner-content
					.breadcrumbs
						a(href="") Каталог
						| >
						a(href="") Материалы для вышивки
						| >
						a(href="") Химия для вышивки
						| >
						span Клей в баллоне
					h1.inner-header КЛЕЙ В БАЛЛОНЕ

					.catalog
						include catalog/glue.jade
						include catalog/glue.jade
						include catalog/glue.jade
						include catalog/glue.jade
						include catalog/glue.jade
						include catalog/glue.jade 
						
					include template/pagination.jade



		include template/footer.jade
		
		include template/common-scripts.jade