doctype html
html
	head
		title Каталог Нитки
		include template/common-head.jade
		link(rel="stylesheet", href="css/inner.css")
		link(rel="stylesheet", href="css/catalog.css")
	body(data-sidebar="ropes")
		.container
			include template/widget-catalog.jade
			include template/header.jade
			nav.menu.menu_role-header
				include template/menu.jade
			.inner
				include template/sidebar.jade
				.inner-content
					.breadcrumbs
						a(href="") Каталог
						| >
						a(href="") Нитки
						| >
						a(href="") По бренду
						| >
						span Fufus
					h1.inner-header Вышивальные Нитки
					include catalog/filter.jade
										


						
					.catalog
						include catalog/ropes.jade
						include catalog/ropes.jade
						include catalog/ropes.jade
						include catalog/ropes.jade
						include catalog/ropes.jade
						include catalog/ropes.jade
						
					include template/pagination.jade



		include template/footer.jade
		
		include template/common-scripts.jade