doctype html
html
	head
		title Главная страница
		include template/common-head.jade
		link(rel="stylesheet", href="css/index.css")
	body
		.container
			include template/widget-catalog.jade
			include template/header.jade
			nav.menu.menu_role-header
				include template/menu.jade
			
			include index/promo.jade

			h1.index-header
				//- i.icon.icon_index-header-left
				span Всё для машинной вышивки
				//- i.icon.icon_index-header-right
			section
				h2.index-section-header Материалы для вышивки
				.goods.goods_role-nav
					.goods__header.goods__header_color-pink
						.goods__bookmark
							.goods__bookmark-inner
								a(href="") Нитки
						.goods__bookmark
							.goods__bookmark-inner
								a(href="") Материалы для&nbsp;вышивки
						.goods__bookmark
							.goods__bookmark-inner
								a(href="") Шевронная&nbsp;ткань
						.goods__bookmark
							.goods__bookmark-inner
								a(href="") Аксессуары
					.goods__body
						.goods__list
							a(href="").goods__item
								.goods__pic
									.goods__rings
										i.icon.icon_rings
									img(src="img/assets/index/materials_1.jpg", alt="")
							a(href="").goods__item
								.goods__pic
									.goods__rings
										i.icon.icon_rings
									img(src="img/assets/index/materials_2.jpg", alt="")
							a(href="").goods__item
								.goods__pic
									.goods__rings
										i.icon.icon_rings
									img(src="img/assets/index/materials_3.jpg", alt="")
							a(href="").goods__item
								.goods__pic
									.goods__rings
										i.icon.icon_rings
									img(src="img/assets/index/materials_4.jpg", alt="")


			section
				h2.index-section-header Оборудование для вышивки
				.goods.goods_role-tabs.js-tabs
					.goods__header.goods__header_color-blue
						.goods__bookmark.js-tabs-header.active
							.goods__bookmark-inner
								span Вышивальные машины
						.goods__bookmark.js-tabs-header
							.goods__bookmark-inner
								span Лазер
						.goods__bookmark.js-tabs-header
							.goods__bookmark-inner
								span Оверлок
						.goods__bookmark.js-tabs-header
							.goods__bookmark-inner
								span Программы
					.goods__body
						.goods__list.js-tabs-content.active
							.goods__rings
								i.icon.icon_rings
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_1.jpg", alt="")
								.goods__name Компактные вышивальные машины
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_2.jpg", alt="")
								.goods__name Одноголовочные вышивальные машины
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_3.jpg", alt="")
								.goods__name Многоголовочные вышивальные машины
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_4.jpg", alt="")
								.goods__name Специальные вышивальные машины
						.goods__list.js-tabs-content
							.goods__rings
								i.icon.icon_rings
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_1.jpg", alt="")
								.goods__name Компактные вышивальные машины (таб2)
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_2.jpg", alt="")
								.goods__name Одноголовочные вышивальные машины
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_3.jpg", alt="")
								.goods__name Многоголовочные вышивальные машины
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_4.jpg", alt="")
								.goods__name Специальные вышивальные машины
						.goods__list.js-tabs-content
							.goods__rings
								i.icon.icon_rings
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_1.jpg", alt="")
								.goods__name Компактные вышивальные машины (таб 3)
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_2.jpg", alt="")
								.goods__name Одноголовочные вышивальные машины
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_3.jpg", alt="")
								.goods__name Многоголовочные вышивальные машины
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_4.jpg", alt="")
								.goods__name Специальные вышивальные машины
						.goods__list.js-tabs-content
							.goods__rings
								i.icon.icon_rings
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_1.jpg", alt="")
								.goods__name Компактные вышивальные машины (таб 4)
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_2.jpg", alt="")
								.goods__name Одноголовочные вышивальные машины
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_3.jpg", alt="")
								.goods__name Многоголовочные вышивальные машины
							a(href="").goods__item
								.goods__pic
									img(src="img/assets/index/machine_4.jpg", alt="")
								.goods__name Специальные вышивальные машины
			section
				h2.index-section-header Акции / Новинки
				.goods-carousel
					.goods-carousel__list.js-goods-slider
						a(href="").goods-carousel__item
							.goods-carousel__pic
								img(src="img/assets/index/latest_1.jpg", alt="")
								.goods-carousel__sale
									i.icon.icon_sale
							.goods-carousel__name Вышивальная машина Aurora (12 игл)
						a(href="").goods-carousel__item
							.goods-carousel__pic
								img(src="img/assets/index/latest_2.jpg", alt="")
							.goods-carousel__name Набор вышивальных ниток Madeira, 248 цветов ( намотка по 100 м)
						a(href="").goods-carousel__item
							.goods-carousel__pic
								img(src="img/assets/index/latest_3.jpg", alt="")
							.goods-carousel__name Нитки для нанесения разметки на ткань Madeira
						a(href="").goods-carousel__item
							.goods-carousel__pic
								img(src="img/assets/index/latest_4.jpg", alt="")
							.goods-carousel__name Ножницы для вышивки Madeira
						a(href="").goods-carousel__item
							.goods-carousel__pic
								img(src="img/assets/index/latest_1.jpg", alt="")
								.goods-carousel__sale
									i.icon.icon_sale
							.goods-carousel__name Вышивальная машина Aurora (12 игл)
						a(href="").goods-carousel__item
							.goods-carousel__pic
								img(src="img/assets/index/latest_2.jpg", alt="")
							.goods-carousel__name Набор вышивальных ниток Madeira, 248 цветов ( намотка по 100 м)
						a(href="").goods-carousel__item
							.goods-carousel__pic
								img(src="img/assets/index/latest_3.jpg", alt="")
							.goods-carousel__name Нитки для нанесения разметки на ткань Madeira
						a(href="").goods-carousel__item
							.goods-carousel__pic
								img(src="img/assets/index/latest_4.jpg", alt="")
							.goods-carousel__name Ножницы для вышивки Madeira
			section
				.service-nav
					.service-nav__list
						a(href="").service-nav__item.service-nav__item_target-repare
							//- img(src="img/icons/index-repare.png", alt="")
							.service-nav__info
								.service-nav__name Запчасти
								.service-nav__desc в наличии и на заказ
						a(href="").service-nav__item.service-nav__item_target-service
							//- img(src="img/icons/index-service.png", alt="")
							.service-nav__info
								.service-nav__name Сервис
								.service-nav__desc ремонт и поддержка
			section
				h2.index-section-header Новости
					a(href="").news-all все новости
					a(href="").news-subscribe Подписаться на новости
				.news
					.news__list
						.news__item
							a(href="") Новинка - Матовые вышивальные нитки FROSTED MATT №40 
						.news__item
							a(href="") Новинка - Матовые вышивальные нитки FROSTED MATT №40 
						.news__item
							a(href="") Вышивальная программа WILCOM Embroidery studio e2 
						.news__item
							a(href="") Вышивальная программа WILCOM Embroidery studio e2 
						.news__item
							a(href="") Новинка - Супер ножницы для вышивки
						.news__item
							a(href="") Новинка - Супер ножницы для вышивки


		include template/footer.jade
		
		include template/common-scripts.jade