doctype html
html
	head
		include template/common-head.jade
		link(rel="stylesheet", href="css/inner.css")
		//- link(rel="stylesheet", href="css/page.css")
	body
		.container
			include template/widget-catalog.jade
			include template/header.jade
			nav.menu.menu_role-header
				include template/menu.jade
			.inner
				include template/sidebar.jade
				.inner-content
					.breadcrumbs
						a(href="") Каталог
						| >
						a(href="") Материалы для вышивки
						| >
						a(href="") Флизелин
						| >
						span Клеевой


		include template/footer.jade
		
		include template/common-scripts.jade