doctype html
html
	head
		title Карточка товара Вышивальные машины
		include template/common-head.jade
		link(rel="stylesheet", href="css/inner.css")
		link(rel="stylesheet", href="css/product-card.css")
	body(data-sidebar="machine")
		.container
			include template/widget-catalog.jade
			include template/header.jade
			nav.menu.menu_role-header
				include template/menu.jade
			.inner
				include template/sidebar.jade
				.inner-content
					.breadcrumbs
						a(href="") Каталог
						| >
						a(href="") Вышивальные машины
						| >
						a(href="") SWF
						| >
						span Вышивальная промышленная машина AURORA CT1201 (Китай)
					.product
						h1.product-header.product-header_size-small Вышивальная промышленная машина AURORA CT1201 (Китай)
						.product-left.product-left_size-big
							.product__image_type-main.js-product_image-slider
								.product__pic
									img(src="img/assets/product-card/machine.jpg", alt="")
								.product__pic
									img(src="img/assets/product-card/machine_1.jpg", alt="")
								.product__pic
									img(src="img/assets/product-card/machine_2.jpg", alt="")
								.product__pic
									img(src="img/assets/product-card/machine_3.jpg", alt="")
							.product__image_type-preview.js-product_image-slider-preview
								.product__pic
									img(src="img/assets/product-card/machine.jpg", alt="")
								.product__pic
									img(src="img/assets/product-card/machine_1.jpg", alt="")
								.product__pic
									img(src="img/assets/product-card/machine_2.jpg", alt="")
								.product__pic
									img(src="img/assets/product-card/machine_3.jpg", alt="")
						.product-right.product-right_size-small
							include product-card/tabs-machine.jade
							.product-backform
								a(href="").product-backform__consultation Запросить косультацию
								.product-backform__notice * Поля, обязательные для заполнения
								form(action="")
									.product-backform__row
										label(for="input_1") Имя*
										input(type="text" id="input_1")
									.product-backform__row
										label(for="input_2") E-mail*
										input(type="text" id="input_2")
									.product-backform__row
										label(for="input_3") Телефон*
										input(type="text" id="input_3")
									input(type="submit" value="Заказать звонок").product-backform__submit
						.product-full
							include product-card/tabs-machine-big.jade
							



		include template/footer.jade
		
		include template/common-scripts.jade