doctype html
html
	head
		title Карточка товара Нитки
		include template/common-head.jade
		link(rel="stylesheet", href="css/inner.css")
		link(rel="stylesheet", href="css/product-card.css")
	body(data-sidebar="ropes")
		.container
			include template/widget-catalog.jade
			include template/header.jade
			nav.menu.menu_role-header
				include template/menu.jade
			.inner
				include template/sidebar.jade
				.inner-content
					.breadcrumbs
						a(href="") Каталог
						| >
						a(href="") Нитки
						| >
						a(href="") По бренду
						| >
						a(href="") Fufus
						| >
						span Тайваньские нитки FUFU’S - полиэстер
					.product
						h1.product-header Тайваньские нитки FUFU’S - полиэстер
						.product-left
							.product__pic
								img(src="img/assets/product-card/nitki.jpg", alt="")
								i.icon.icon_sale-big
						.product-right
							include product-card/tabs-small.jade
							.product-about
								
								.product-info
									.product-info__item
										.product-info__name Метраж
										.product-info__desc 5000
									.product-info__item
										.product-info__name Состав
										.product-info__desc 100% полиэстер
									.product-info__item
										.product-info__name Толщина
										.product-info__desc 40
									.product-info__item
										.product-info__name Количество цветов
										.product-info__desc 300
									.product-info__item
										.product-info__name Бобин в коробке
										.product-info__desc 12
						.product-full
							.product-order
								.product-order__header Оформить заказ
								.product-order__title Цветовая палитра
								.product-order__total.product-order__total_position-bottom
									| Итоговая цена
									span 20 000 
										small руб.
								form(action="").product-order__search
									input(type="text" placeholder="Артикул")
									input(type="submit").icon.icon_filter-search
								.product-palette
									.product-palette__list.js-palette-slider
										mixin palette(colors)
											each color in colors
												.product-palette__item.js-color
													.product-palette__color(style="background-color: #{color}").js-color-btn
													form(action="").product-palette__more
														.product-palette__close.js-color-close
															i.icon.icon_palette_close
														.product-palette__name #{color}
														.product-palette__option
															input(type="radio" name="#{color}" checked)
															.product-palette__info
																.product-palette__field
																	| коробка
																	input(type="text" value="1") 
																	|  шт
																.product-palette__price
																	| Цена за бобину в&nbsp;коробке 
																	span 100 руб.
																input(type="submit" value="Купить").product-palette__submit
														.product-palette__option
															input(type="radio" name="#{color}")
															.product-palette__info
																.product-palette__field
																	| бобина
																	input(type="text" value="1") 
																	|  шт
																.product-palette__price
																	| Цена за бобину <br>
																	span 100 руб.
																input(type="submit" value="Купить").product-palette__submit

										+palette(["#DEB28C", "#D23BB8", "#DC7F75", "#3F3C5F", "#84561A", "#D9857E", "#31BEBD", "#9D1535", "#D924D0", "#07FDE3", "#529D74", "#2E217E", "#A83815", "#2088CC", "#B3B96D", "#EE212E", "#90BB13", "#E706D4", "#67FB57", "#810468", "#262E7C", "#2F21B4", "#48C8FB", "#8685E7", "#E8230A", "#FB1814", "#AA651D", "#B9CF22", "#588FC8", "#82D428", "#7DFCDC", "#981771", "#2B7FBE", "#BDE466", "#61DC44", "#500034", "#CF1D20", "#FA2D82", "#D7BCFF", "#05F64D", "#190FC9", "#9F94BB", "#BCDA03", "#7D8EAF", "#6CB33A", "#8CBDA1", "#466F06", "#2ECDCD", "#BCA343", "#FFC5B8", "#1CEB66", "#8A153E", "#B2BDA5", "#8D2223", "#190876", "#577985", "#9CF1BE", "#0177EA", "#26B35F", "#CEF7DC"])



		include template/footer.jade
		
		include template/common-scripts.jade