doctype html
html
	head
		title Карточка товара Пена для объема
		include template/common-head.jade
		link(rel="stylesheet", href="css/inner.css")
		link(rel="stylesheet", href="css/product-card.css")
	body(data-sidebar="pena")
		.container
			include template/widget-catalog.jade
			include template/header.jade
			nav.menu.menu_role-header
				include template/menu.jade
			.inner
				include template/sidebar.jade
				.inner-content
					.breadcrumbs
						a(href="") Каталог
						| >
						a(href="") Материалы для вышивки
						| >
						span Пена для объема
					.product
						h1.product-header Пена для объема
						.product-left
							.product__pic
								img(src="img/assets/product-card/pena.jpg", alt="")
								i.icon.icon_sale-big
						.product-right
							include product-card/tabs-small.jade
							.product-about
								
								.product-info
									.product-info__item
										.product-info__name Артикул
										.product-info__desc
									.product-info__item
										.product-info__name Плотность
										.product-info__desc мягкая
								include product-card/product-price.jade
							.product-order
								.product-order__header Оформить заказ
								form(action="")
									.product-order__field
										.product-order__name
											| Размер листа:
										.product-order__list
											.product-order__item
												input(type="radio" name="group_0" checked)
												label 30 х 40 см
											.product-order__item
												input(type="radio" name="group_0")
												label 52 х 46 см
									.product-order__field
										.product-order__name
											| Толщина:
										.product-order__list
											.product-order__item
												input(type="radio" name="group_1" checked)
												label 3 мм
											.product-order__item
												input(type="radio" name="group_1")
												label 6 мм
									.product-order__field
										.product-order__name
											| Цвет:
										.product-order__list
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3" checked) 
												label
													span.ui-color-square(data-color="#000000")
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3") 
												label
													span.ui-color-square(data-color="#fff")
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3") 
												label
													span.ui-color-square(data-color="#ed1c24")
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3") 
												label
													span.ui-color-square(data-color="#002157")
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3") 
												label
													span.ui-color-square(data-color="#0072bc")
									.product-order__field
										.product-order__name
											| Количество:
										.product-order__list
											.product-order__item
												input(type="radio" name="group_2" checked) 
												label
													| рулон
													input(type="text" value="1") 
													|  шт
											.product-order__item
												input(type="radio" name="group_2") 
												label
													| метраж 
													input(type="text" value="1") 
													|  м
									
											

								.product-order__total
									| Итоговая цена
									span 20 000 
										small руб.
								a(href="").product-order__btn Купить


		include template/footer.jade
		
		include template/common-scripts.jade