doctype html
html
	head
		title Карточка товара
		include template/common-head.jade
		link(rel="stylesheet", href="css/inner.css")
		link(rel="stylesheet", href="css/product-card.css")
	body
		.container
			include template/widget-catalog.jade
			include template/header.jade
			nav.menu.menu_role-header
				include template/menu.jade
			.inner
				include template/sidebar.jade
				.inner-content
					.breadcrumbs
						a(href="") Каталог
						| >
						a(href="") Материалы для вышивки
						| >
						a(href="") Термо и водорастворимые пленки
						| >
						span Водорастворимая пленка
					.product
						h1.product-header Водорастворимая пленка
						.product-left
							.product__pic
								img(src="img/assets/product-card/pena.jpg", alt="")
								i.icon.icon_sale-big
						.product-right
							include product-card/tabs-small.jade
							.product-about
								
								.product-info
									.product-info__item
										.product-info__name Артикул
										.product-info__desc
									.product-info__item
										.product-info__name Тип
										.product-info__desc гладкая
									.product-info__item
										.product-info__name Длина рулона
										.product-info__desc 100 м
									.product-info__item
										.product-info__name Плотность
										.product-info__desc 25 мк
								.product-price
									.product-price__item
										.product-price__name Цена в рулоне
										.product-price__desc 
											span 200
											| руб/м
									.product-price__item
										.product-price__name Цена в нарезке
										.product-price__desc 
											span 180
											| руб/м
							.product-order
								.product-order__header Оформить заказ
								form
									.product-order__field
										.product-order__name
											| Размер листа:
										.product-order__list
											.product-order__item
												input(type="radio" name="group_0" checked)
												label 30 х 40 см
											.product-order__item
												input(type="radio" name="group_0")
												label 52 х 46 см
									.product-order__field
										.product-order__name
											| Ширина рулона:
										.product-order__list
											.product-order__item
												input(type="radio" name="group_1" checked)
												label 30 см
											.product-order__item
												input(type="radio" name="group_1")
												label 100 см
									.product-order__field
										.product-order__name
											| Количество:
										.product-order__list
											.product-order__item
												input(type="radio" name="group_2" checked) 
												label
													| рулон
													input(type="text" value="1") 
													|  шт
											.product-order__item
												input(type="radio" name="group_2") 
												label
													| метраж 
													input(type="text" value="1") 
													|  м
									.product-order__field
										.product-order__name
											| Цвет:
										.product-order__list
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3" checked) 
												label
													span.ui-color-square(data-color="#000000")
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3") 
												label
													span.ui-color-square(data-color="#fff")
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3") 
												label
													span.ui-color-square(data-color="#ed1c24")
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3") 
												label
													span.ui-color-square(data-color="#002157")
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3") 
												label
													span.ui-color-square(data-color="#0072bc")
											

								.product-order__total
									| Итоговая цена
									span 20 000 
										small руб.
								a(href="").product-order__btn Купить
						
						.product-full
							.product-order
								.product-order__header Оформить заказ
								form
									
									.product-order__field
										.product-order__name
											| Ширина рулона:
										.product-order__list
											.product-order__item
												input(type="radio" name="group_1" checked)
												label 30 см
											.product-order__item
												input(type="radio" name="group_1")
												label 100 см
									.product-order__field
										.product-order__name
											| Количество:
										.product-order__list
											.product-order__item
												input(type="radio" name="group_2" checked) 
												label
													| рулон
													input(type="text" value="1") 
													|  шт
											.product-order__item
												input(type="radio" name="group_2") 
												label
													| метраж 
													input(type="text" value="1") 
													|  м
									.product-order__field
										.product-order__name
											| Цвет:
										.product-order__list
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3" checked) 
												label
													span.ui-color-square(data-color="#000000")
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3") 
												label
													span.ui-color-square(data-color="#fff")
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3") 
												label
													span.ui-color-square(data-color="#ed1c24")
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3") 
												label
													span.ui-color-square(data-color="#002157")
											.product-order__item.product-order__item_content-color
												input(type="radio" name="group_3") 
												label
													span.ui-color-square(data-color="#0072bc")



		include template/footer.jade
		
		include template/common-scripts.jade