header
	.left
		.header-logo
			a(href="").header-logo__link
				img(src="img/icons/logo.png", alt="")
			.header-logo__text
				| Вышивальное оборудование <br>Материалы для вышивки <br>Нитки
	.right
		.header-phone
			.header-phone__item
				| Санкт-Петербург 
				a(href="+78123342141") (812) 
					b 334-21-41
			.header-phone__item
				| Москва 
				a(href="+74959825016") (495) 
					b 982-50-16
		.header-backcall
			.header-backcall__link Обратный звонок
			.header-backcall__icon
				i.icon.icon_back_call
		.header-cart
			.header-cart__icon
				i.icon.icon_cart
			.header-cart__text
				.header-cart__info
					b 0 
					| шт. - 
					b 0.0 
					| р.
				a(href="").header-cart__link Оформить заказ
		