a(href="").menu__item Оборудование
a(href="").menu__item Материалы
a(href="").menu__item Акции
a(href="").menu__item Способ оплаты
a(href="").menu__item Доставка
a(href="").menu__item Партнеры
a(href="").menu__item Контакты