.pagination-container
	.pagination
		| Страницы:
		a(href="").pagination__item.current 1
		a(href="").pagination__item 2
		a(href="").pagination__item 3
		a(href="").pagination__item 4
		a(href="").pagination__item 5
		a(href="").pagination__item 6
		a(href="").pagination__item >>
		a(href="").pagination__item Все сразу

