aside.sidebar
	.sidebar-nav
		.sidebar-nav__header КАТАЛОГ НИТОК И МАТЕРИАЛОВ
		.sidebar-nav__list
			.sidebar-nav__item.sidebar-nav__item_level-first.js-accordion-link
				a(href="") Нитки
				.sidebar-nav__list.js-accordion-container
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Верхняя нить
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Нижняя нить
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Fashion
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Наборы
					.sidebar-nav__item.sidebar-nav__item_level-second
						span По составу:		
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Полиэстер
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Шелковые (вискоза)
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Металлик
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Хлопковые
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Шерстяные (акрил)
					.sidebar-nav__item.sidebar-nav__item_level-second
						span По бренду:
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link(data-sidebar="ropes")
						a(href="") Fufus
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Royal
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Aurora
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Gunold
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Madeira
			.sidebar-nav__item.sidebar-nav__item_level-first.js-accordion-link
				a(href="") Материалы для вышивки
				.sidebar-nav__list.js-accordion-container
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Флизелины-стабилизаторы
						.sidebar-nav__list.js-accordion-container
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link(data-sidebar="flizelin")
								a(href="") Клеевой
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Неклеевой
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Водорастворимый
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Filmoplast
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Разное
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link(data-sidebar="termoplenka")
						a(href="") ТЕРМО И Водорастворимые пленки
						.sidebar-nav__list.js-accordion-container
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Клеевой
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Неклеевой
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Водорастворимый
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Filmoplast
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Разное
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Для шевронов и аппликаций
						.sidebar-nav__list.js-accordion-container
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link(data-sidebar="shevron")
								a(href="") Шевронная ткань
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link(data-sidebar="plenka")
								a(href="") Пленка для термоаппликаций
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Материалы для аппликаций
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") ХИМИЯ для вышивки
						.sidebar-nav__list.js-accordion-container
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link(data-sidebar="glue")
								a(href="") Клей
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Пятновыводитель
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Спрей-смазка
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Масло
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link(data-sidebar="pena")
						a(href="") ПЕНА ДЛЯ ОБЪЕМА
			.sidebar-nav__item.sidebar-nav__item_level-first.js-accordion-link
				a(href="") Аксессуары
				.sidebar-nav__list.js-accordion-container
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Пункт 1
						.sidebar-nav__list.js-accordion-container
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Подункт 1
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Подункт 2
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Подункт 3
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Подункт 4
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Подункт 5
					.sidebar-nav__item.sidebar-nav__item_level-second.js-accordion-link
						a(href="") Пункт 2
						.sidebar-nav__list.js-accordion-container
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Подункт 1
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Подункт 2
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Подункт 3
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Подункт 4
							.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
								a(href="") Подункт 5
	.sidebar-nav
		.sidebar-nav__header КАТАЛОГ оборудования
		.sidebar-nav__list
			.sidebar-nav__item.sidebar-nav__item_level-first.js-accordion-link
				a(href="") вышивальные машины
				.sidebar-nav__list.js-accordion-container
					.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link(data-sidebar="machine")
						a(href="") SWF
					.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
						a(href="") Aurora
					.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
						a(href="") Brother
					.sidebar-nav__item.sidebar-nav__item_level-third
						span по типу
					.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
						a(href="") Многоголовочные
					.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
						a(href="") Одноголовочные
					.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
						a(href="") Компактные
					.sidebar-nav__item.sidebar-nav__item_level-third.js-accordion-link
						a(href="") Специальные
			.sidebar-nav__item.sidebar-nav__item_level-first.js-accordion-link
				a(href="") ПРОГРАММЫ ДЛЯ ВЫШИВКИ
			.sidebar-nav__item.sidebar-nav__item_level-first.js-accordion-link
				a(href="") ГОТОВЫЕ ДИЗАЙНЫ
			.sidebar-nav__item.sidebar-nav__item_level-first.js-accordion-link
				a(href="") ДОПОЛНИТЕЛЬНОЕ ОБОРУДОВАНИЕ
			.sidebar-nav__item.sidebar-nav__item_level-first.js-accordion-link
				a(href="") ЗАПЧАСТИ И СЕРВИС

	.sidebar-subscribe
		.sidebar-subscribe__header Узнавайте первыми <br> о лучших ценах и акциях!
		form(action="")
			input(type="text" placeholder="Ваш e-mail")
			input(type="submit" value="Подписаться")

			