.widget-cart
	.widget-cart-body
		.widget-cart__hide
		.widget-cart-container
			.widget-cart__header
			.widget-cart-order
				table
					tr
						td.widget-cart-order__field.widget-cart-order__field_role-pic
							img(src="", alt="")
						td.widget-cart-order__field.widget-cart-order__field_role-name: a(href="") текст
						td.widget-cart-order__field.widget-cart-order__field_role-number 1
						td.widget-cart-order__field.widget-cart-order__field_role-price 5000
						td.widget-cart-order__field.widget-cart-order__field_role-delete
							a(href="")
								i.icon
			.widget-cart-total
				.widget-cart-total__text итого					
				.widget-cart-total__number 3
				.widget-cart-total__cost 4000.-
	.widget-cart__button
		| Хочу заказать