$c_catalog-gray: #d1d3d4

.catalog
	// margin-right: 37px
	&-item
		display: table
		width: 100%
		position: relative
		&-container
			border: 2px solid $c_catalog-gray
			margin-top: 14px
		&__btn
			+btn($c_pink, 35px, 12px)
			width: auto
			display: inline-block
			padding: 0 33px
			font-weight: 300
			letter-spacing: 1px
			position: absolute
			right: -2px
			bottom: -2px
		&_type-1
			.catalog-pic
				width: 240px
				img
					margin: -2px
			// .catalog-item__btn
			// 	position: absolute
			// 	right: -2px
			// 	bottom: -2px
		&_type-2
			.catalog-pic
				width: 215px
			// .catalog-item__btn
			// 	margin: 0 auto
		&_goods-machine
			.catalog-pic
				width: 231px
			.catalog-desc__header
				font-size: 18px
			.catalog-desc
				padding-left: 24px
				&__header
					margin-bottom: 0
				&__text
					line-height: 14px
				&__item + .catalog-desc__item
					margin-top: 5px
	&-pic, &-desc, &-price
		display: table-cell
		vertical-align: top
	
	&-pic
		position: relative
		font-size: 0
		&__sale
			position: absolute
			top: 15px
			right: -13px
	&-desc
		vertical-align: middle
		padding: 20px 30px 20px 47px
		font-weight: 600
		&__header
			// padding: 24px 0
			color: $c_pink
			font-size: 16px
			margin-bottom: 7px
			text-decoration: none
			display: block
		&__text
			border-bottom: 1px solid $c_pink
			font-weight: 300
			padding: 5px 0 8px
			margin-bottom: 26px
			font-size: 11px
		&__item
			+clearfix()
			&_type
				&-dotted
					border-bottom: 2px dotted $c_catalog-gray
					margin: 0 -3px
					& + &
						margin-top: 10px
					.catalog-desc__name
						float: left
					.catalog-desc__value
						float: right
					.catalog-desc__name, .catalog-desc__value
						background-color: #fff
						position: relative
						top: 5px
						padding: 4px 3px 0
						line-height: 1
						.ui-color-container
							margin-top: -4px
				&-regular
					max-width: 63%
					font-size: 12px
					.catalog-desc__name, .catalog-desc__value
						// display: inline-block
						float: left
						vertical-align: top
						width: 50%
		

		// &__name
		// 	float: left
		// &__value
		// 	float: right
		// &__name, &__value
			// background-color: #fff
			// position: relative
			// top: 3px
			// padding: 4px 3px 0
			// line-height: 1
			// .ui-color-container
			// 	margin-top: -4px
	&-price
		color: $c_pink
		// vertical-align: middle
		width: 270px
		border-left: 1px solid $c_catalog-gray
		padding: 0 35px 22px
		vertical-align: middle
		text-align: center
		&__header
			font-size: 18px
			font-weight: 700
			// text-align: center
			text-transform: uppercase
			margin-bottom: 13px
		&__list
			display: inline-block
			text-align: left
		&__item
			// display: inline-block
			.icon, span
				display: inline-block
				vertical-align: middle
			.icon
				margin-right: 10px
			span
				// padding-bottom: 5px
			& + &
				// margin-top: 21px

