.catalog-filter
	min-height: 38px
	margin-bottom: 35px
	border-bottom: 1px solid transparent
	overflow: hidden
	transition: height 0.5s
	height: auto
	&.closed
		height: 38px
		.catalog-filter-container
			transform: translate(-100%, -100%)
			// height: auto
			// overflow: visible
	form
		+clearfix()
		margin: 0 -5px
	&__search
		border: 2px solid $c_background-gray
		display: inline-block
		position: absolute
		cursor: pointer
		z-index: 2
	&-container
		background-color: $c_background-gray
		margin-bottom: 35px
		position: relative
		display: inline-block
		// width: 40px
		// height: 38px
		// padding: 0
		// width: 550px
		padding: 15px 45px 20px
		transition: transform 0.5s
		transform: translate(0, 0)
		+clearfix()
		// &.closed
		// 	transform: translate(-100%, -100%)
		// 	height: auto
		// 	overflow: visible
	&__btns
		position: absolute
		right: 0
		top: 100%
		+clearfix()
	&__slideup, &__submit
		float: left
		cursor: pointer
	&__submit
		+btn($c_pink, 34px, 16px)
		width: auto
		display: inline-block
		padding: 0 12px
	&__col
		// width: 20%
		float: left
		padding: 0 10px
	&__header
		text-align: center
		font-size: 16px
		line-height: 20px
		color: $c_light-blue
		font-weight: 600
		margin-bottom: 7px
		text-transform: uppercase
	&__item
		font-weight: 100
		& + &
			margin-top: 8px
		label
			display: inline-block
		input[type="checkbox"]
			display: none
		input[type="checkbox"] + label
			padding-left: 20px
			position: relative
			&:before
				border: 1px solid #8c8c8c
				background-color: #fff
				width: 15px
				height: 15px
				display: inline-block
				content: ''
				position: absolute
				left: 0
				box-sizing: border-box
				top: 50%
				transform: translate(0, -50%)
		input[type="checkbox"]:checked + label
			&:after
				content: '✔'
				color: $c_light-blue
				position: absolute
				// top: 50%
				// transform: translate(0, -50%)
				line-height: 1
				top: -3px
				left: 2px
				// font-family: 'u2400'
				font-size: 18px
				width: 15px
				height: 15px
				text-align: center
		&_prop-price
			+clearfix()
			input[type="text"]
				border: 1px solid #8c8c8c
				background-color: #fff
				display: inline-block
				width: 55px
				line-height: 16px
				padding: 6px
				float: right
				margin: 0 7px
			label
				line-height: 30px
				height: 30px
