.product-backform
	text-align: right
	border: 1px solid #cdcdcd
	padding: 12px 9px
	float: right
	margin-top: 16px
	&__notice
		font-size: 10px
		padding: 7px 0 5px
	&__row
		text-align: left
		& + &
			margin-top: 4px
		label
			width: 80px
			display: inline-block
			vertical-align: middle
			margin-left: 9px
		input[type="text"]
			width: 218px
			display: inline-block
			vertical-align: middle
			line-height: 16px
			padding: 6px
			border: 1px solid #cdcdcd
			// margin-bottom: 5px
	&__consultation
		border: 1px solid $c_pink
		text-transform: uppercase
		width: 218px
		height: 30px
		line-height: 30px
		text-align: center
		display: inline-block
		text-decoration: none
		font-size: 12px
		font-weight: 600
	&__submit
		+btn($c_pink, 34px, 12px)
		width: auto
		padding: 0 25px
		display: inline-block
		margin-top: 8px
