.product
	+clearfix()
	&-full
		float: left
		width: 100%
	&-left
		float: left
		width: 320px
		margin-bottom: 25px
		// margin-right: 39px
		&_size-big
			width: 458px
		img
			display: block
	&-right
		float: right
		margin-bottom: 25px
		width: calc(100% - 358px)
		&_size-small
			width: 430px
	&__pic
		position: relative
		// margin-bottom: 60px
		.icon
			position: absolute
			top: 6px
			right: -17px
	&__image
		&_type-preview
			padding: 0 5px
			.product__pic
				padding: 0 5px
				height: 100px
				position: relative
				overflow: hidden
				cursor: pointer
				img
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
			.slick-arrow
				width: 20px
				border-style: dotted
				border-color: #b6b7b8
				border-width: 0
				height: 100%
				.icon
					position: absolute	
					top: 0
					bottom: 0
					margin: auto
			.slick-prev
				right: 100%
				left: auto
				border-right-width: 1px
				.icon
					left: 0
			.slick-next
				left: 100%
				right: auto
				border-left-width: 1px
				.icon
					right: 0
	&-header
		font-size: 30px
		font-weight: 600
		padding: 14px 0 19px
		&_size-small
			font-size: 18px
	&-about
		// padding-bottom: 31px