$c_border-color: #c7c8c9
$c_active-bg: #f5f5f5
.product-order
	background-color: $c_active-bg
	position: relative
	padding: 22px 15px
	min-height: 100px
	margin-bottom: 32px
	margin-top: 32px
	&:before
		content: ''
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		border: 1px solid $c_border-color

	&__header
		color: $c_pink
		text-transform: uppercase
		background-color: $c_active-bg
		position: absolute
		bottom: 100%
		left: 0
		padding: 8px 37px
		font-weight: 700
		border: 1px solid $c_border-color
		border-bottom: 0
		margin-bottom: -1px
		z-index: 1
	&__total
		font-size: 12px
		text-align: center
		position: absolute
		right: 0
		bottom: 28px
		font-weight: 600
		&_position-bottom
			bottom: 0
		span
			margin-top: 4px
			font-size: 18px
			color: $c_pink
			display: block
			min-width: 123px
			padding: 6px 5px
			text-align: right
			border: 1px solid $c_border-color
			background-color: #fefefe
			small
				font-size: 12px
	&__btn
		+btn($c_pink, 33px, 12px)
		display: inline-block
		position: absolute
		top: 100%
		right: 0
		margin-top: -1px
		padding: 0 37px
		width: auto
	&__field
		+clearfix()
		& + &
			margin-top: 7px
	&__name, &__list
		display: inline-block
		vertical-align: middle
	&__name
		font-weight: 600
		min-width: 140px
	&__list
		+clearfix()

	&__item
		position: relative
		float: left
		vertical-align: top
		& + &
			margin-left: 7px
		label
			border: 1px solid currentColor
			color: #acacac
			display: inline-block
			font-size: 12px
			font-weight: 600
			padding: 2px 5px
			text-align: center
			min-width: 55px
			// height: 22px
			input[type="text"]
				position: relative
				// z-index: -1
				color: #acacac
				display: inline-block
				width: 25px
				padding: 0 2px
				text-align: right
				border: 1px solid #acacac
				margin: 1.5px 0 1.5px 8px
		input[type="radio"]
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			opacity: 0
			z-index: 1
			cursor: pointer
			&:checked + label
				color: #fff
				background-color: $c_pink
				border-color: $c_pink
				input[type="text"]
					background-color: #fefefe
					position: relative
					z-index: 2
					border-color: #fefefe
			&:hover + label
				border-color: $c_pink

		&_content-color
			label
				min-width: 0
				padding: 5px
			input[type="radio"]:checked + label
				background-color: transparent
	&__title
		color: $c_pink
		font-weight: 600
		padding-left: 22px
		padding-top: 7px
		padding-bottom: 12px
	&__search
		+clearfix()
		position: relative
		padding-left: 22px
		input[type="text"]
			height: 34px
			line-height: 16px
			font-size: 12px
			padding: 9px 13px
			float: left
			width: 174px
			border: 1px solid $c_border-color
			font-style: italic
			font-weight: 300
			background-color: #fff
		input[type="submit"]
			padding: 0
			float: left
			cursor: pointer
			margin-left: -1px
