.product-info
	width: 300px
	// float: left
	display: inline-block
	width: calc(100% - 140px)
	vertical-align: middle
	padding: 14px
	// clear: both
	&__item
		+clearfix()
		line-height: 22px
		font-weight: 600
	&__name, &__desc
		float: left
		width: 50%

