.product-price
	// float: right
	display: inline-block
	vertical-align: middle
	padding-left: 15px
	position: relative
	font-weight: 600
	min-width: 136px
	padding-right: 7px
	// margin: 34px 0 28px
	margin-top: 31px
	&:before
		position: absolute
		content: ''
		left: 0
		top: 0
		bottom: 0
		margin-top: 3px
		margin-bottom: 3px
		border-right: 3px solid $c_pink
	&__name
		margin-bottom: 3px
	&__item
		& + &
			margin-top: 14px
	&__desc
		color: $c_pink
		font-size: 12px
		span
			font-size: 18px