$c_border: #e1e1e1

.product-palette
	&__list
		
		padding: 0 16px
		margin: 19px 0 35px
	&__item
		position: relative
		display: inline-block
		cursor: pointer
		padding: 15px 0
		&.opened
			.product-palette__more
				display: block
				opacity: 1
			.product-palette__color
				z-index: 15
					

	&__color
		height: 35px
		width: 53px
		margin: 0 auto
		background-color: #035649
		position: relative
	&__more
		background-color: rgba(235,235,235,0.68)
		border: 1px solid $c_border
		padding: 67px 25px 17px
		position: absolute
		top: -19px
		left: 50%
		transform: translate(-50%, 0)
		z-index: 10
		opacity: 0
		transition: opacity 0.5s
		display: none
		box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.19)
	&__close
		position: absolute
		top: 8px
		right: 8px
		cursor: pointer
	&__name
		text-align: center
		text-decoration: underline
		font-size: 11px
		font-weight: 600
		padding: 4px 0 16px
	
	&__info
		color: #b7b7b7
		font-size: 12px
		font-weight: 600
	&__field, &__submit
		border: 1px solid #cccccc
		background-color: #ebebeb
		color: inherit
		width: 100%
	&__field
		// display: inline-block
		padding: 3px 5px
		text-align: center
		// min-width: 55px
		white-space: nowrap
		// height: 22px
		input[type="text"]
			position: relative
			// z-index: -1
			color: #acacac
			display: inline-block
			width: 25px
			padding: 0 2px
			text-align: right
			border: 1px solid #acacac
			margin-left: 8px
	&__price
		background-color: #fff
		padding: 8px
		border: 1px solid #fff
		font-size: 11px
		line-height: 1.4
	&__submit
		line-height: 23px
		height: 23px
		text-transform: uppercase
		cursor: pointer
	&__option
		position: relative
		min-width: 119px
		& + &
			margin-top: 13px
		input[type="radio"]
			position: absolute
			width: 100%
			height: 100%
			left: 0
			top: 0
			z-index: 15
			opacity: 0
			cursor: pointer
			&:hover + .product-palette__info:after
				border: 1px solid $c_pink
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				content: ''
			&:checked + .product-palette__info
				position: relative
				z-index: 20
				.product-palette
					&__price
						border-color: #cccccc
					&__field, &__submit
						background-color: $c_pink
						border-color: $c_pink
						color: #fff
					&__field
						input[type="text"]
							border-color: #fff
							background-color: #fff
					&__price
						color: #000
						span
							color: $c_pink

.product-palette
	.slick-list
		overflow: visible
	.slick-arrow
		height: 160px
		border-style: dotted
		border-color: #b6b7b8
		border-width: 0
		width: 23px
		z-index: 8
		.icon
			position: absolute	
			top: 0
			bottom: 0
			margin: auto 7px
			
		&.slick-prev
			border-right-width: 1px
			left: -3px
		&.slick-next
			border-left-width: 1px
			right: -3px
	
	.slick-list
		z-index: 10